.tab-icon {
    width: 25px;  /* Kontrolliert die Breite des Bildes */
    height: 25px; /* Kontrolliert die Höhe des Bildes */
    object-fit: contain; /* Stellt sicher, dass das gesamte Bild sichtbar ist */
  }